<!DOCTYPE html>
<html>
<head>
    <title>{{default title basename}}</title>
    <meta name="viewport" id="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0">
    <link href="../assets/css/all.css" rel="stylesheet">
    <script src="{{picturefill}}" async></script>
</head>
<body>

{{> body}}

</body>
</html>